@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Restaurant App :)</h1>
    <form method="post" action="/Home/Login">
        <button type="submit" class="btn btn-primary">Go to Login Page </button>
    </form>
</div>
